<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/animations.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <link rel="icon" href="/img/favicon.png">
  <title>Green Market</title>
</head>

<body>
  <%- include('../partials/header') %>

  <%- include('../partials/loading') %>

    <!-- ARRAY OF PRODUCTS RETURNED BY APP.JS -->
    <section class="categoria">
      <h2>
        <%= products[0].categoria %>
      </h2>

      <p class="message" id="message"></p>
      <div class="card-collection" style="text-align: center;">

        <% products.map((product)=> { %>
          <div class="card visible">

            <img src="/data/thumbs/<%= product.imagen %>" alt="thumb" class="product-thumb">

            <div class="container">
              <h4 class="product-name"><%= product.nombre %></h4>
              <p class="product-description"><%= product.descripcion %></p>
              <p class="product-price">$ <%= product.precio %>
              </p>
            </div>

          </div>
          <% }) %>

      </div>
    </section>

    <%- include('../partials/modal') %>

      <%- include('../partials/footer') %>

            <%- include ('../partials/msg') %>

              <div class="mask" id="mask"></div>

              <script src="/js/main.js"></script>

              <script>
                let message = document.getElementById('message');
                let cardCount = document.querySelectorAll('.card').length;

                cardCount < 1
                  ? message.innerHTML = `No se encontraron productos`
                  : message.innerHTML = `Se encontraron <b>${cardCount} productos</b>`;

                message.classList.toggle('visible');
              </script>
</body>

</html>