<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/animations.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <link rel="icon" href="/img/favicon.png">
  <title>Green Market</title>
</head>

<body>
  <%- include('../partials/loading') %>

  <%- include('../partials/header') %>

  <div class="slider-container" id="slider-container">
    <div class="slider-item">
      <img src="/img/banner-beyond-meat.jpg" alt="banner">
    </div>

    <div class="slider-item">
      <img src="/img/banner-vegalatto.jpg" alt="banner">
    </div>

    <div class="slider-item">
      <img src="/img/Cyber_monday_with_neon_light_shape_background_design.jpg" alt="banner">
    </div>
        
    <div class="slider-controls" id="slider-controls">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="banner-container horizontal">
    <img src="" alt="banner">
    <img src="" alt="banner">
    <img src="" alt="banner">
  </div>

  <%- include('../partials/featured') %>

  <div class="banner-container vertical">
    <img src="/img/banner_picada_naturezas.jpg" alt="banner">
    <img src="/img/banner-beyond-meat-burger.jpg" alt="banner">
  </div>

  <div class="banner-container">

  </div>

  <%- include('../partials/modal') %>

  <%- include ('../partials/msg') %>

  <%- include('../partials/footer') %>

  <div class="mask" id="mask"></div>

  <script src="/js/main.js" defer></script>
  <script src="/js/products.js" defer></script>
  <script src="/js/slideshow.js" defer></script>
</body>
</html>