<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/animations.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <link rel="icon" href="/img/favicon.png">
  <title>Green Market</title>
</head>
<body>
  <%- include('../partials/header') %>

  <%- include('../partials/slider') %>

  <%- include('../partials/categories') %>
  
  <%- include('../partials/featured-products') %>

  <div class="banner">
    <img src="/img/banner-vegalatto-cropped.jpg" alt="banner">
  </div>

  <div class="brands">
    <img src="/img/logo-laabundancia.png" alt="laabundancia">
    <img src="/img/logo-violife.png" alt="violife">
    <img src="/img/logo-oroverde.png" alt="oroverde">
    <img src="/img/logo-vegetalex.png" alt="vegetalex">
    <img src="/img/logo-valsoia.png" alt="valsoia">
  </div>

  <%- include('../partials/footer') %>

  <%- include('../partials/modal') %>

  <%- include ('../partials/msg') %>

  <%- include('../partials/loading') %>

  <%- include('../partials/login-form') %>
  
  <div class="mask" id="mask"></div>

  <script src="/js/main.js" defer></script>
  <script src="/js/products.js" defer></script>
  <script src="/js/slideshow.js" defer></script>
</body>
</html>