<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/animations.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <link rel="icon" href="/img/favicon.png">
  <title>Green Market - Resultados de búsqueda</title>
</head>
<body>
  <!------------------------------HEADER------------------------------->
  <%- include('../partials/header') %>

  <!---------------------------SEARCH RESULT--------------------------->
  <section class="section-search">
    <div class="heading">
      <h2>Resultados de búsqueda</h2>
      <hr>
    </div>

    <p class="message" id="message"></p>

    <div class="products">
      <% for (var i=0; i < products.length; i++) { %>
        <div class="card">
          <div class="thumb-container">
            <img src="/data/thumbs/small/<%= products[i].img %>" class="product-image" alt="image">
          </div>
          <div class="info">
            <h4 class="product-name"><%= products[i].name %></h4>
            <span class="product-description" style="display: none"></span>
            <p class="product-price">$ <%= products[i].price %></p>
            <button class="button-add">Agregar al carrito</button>
          </div>
        </div>
      <% } %>
    </div>
  </section>

  <!-----------------------------FOOTER------------------------------->
  <%- include('../partials/footer') %>

  <!------------------------------OTHER------------------------------->
  <%- include('../partials/modal') %>
  <%- include ('../partials/msg') %>
  <%- include('../partials/loading') %>
  <%- include('../partials/login-form') %>
  <div class="mask" id="mask"></div>

  <!-----------------------------SCRIPTS------------------------------>
  <script src="/js/main.js"></script>
  <script>
    let message = document.getElementById('message');
    let cardCount = document.querySelectorAll('.card').length;

    cardCount < 1
      ? message.innerHTML = `Su búsqueda no arrojó resultados`
      : message.innerHTML = `Se encontraron <b>${cardCount} productos</b>`;

    message.classList.toggle('visible');
  </script>
</body>
</html>